[Unit]
Description=gunicorn daemon
Requires=warehouse_management.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/finloge-warehouse/warehouse_management/
ExecStart=/var/lib/jenkins/workspace/finloge-warehouse/warehouse_management/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/var/lib/jenkins/workspace/finloge-warehouse/warehouse_management/app.sock \
          warehouse_management.wsgi:application

[Install]
WantedBy=multi-user.target
