[Unit]
Description=gunicorn daemon
Requires=declaration-management.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/finloge-declaration/
ExecStart=/var/lib/jenkins/workspace/finloge-declaration/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/var/lib/jenkins/workspace/finloge-declaration/app.sock \
          DeclarationManagement.wsgi:application

[Install]
WantedBy=multi-user.target

