// Importing all Component and Partial Files
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'components/card';
@import 'partials/font';
@import 'partials/borders';
@import 'components/button';
@import 'partials/shadow';
@import 'partials/checkbox';
@import 'partials/searchbar';
@import 'partials/card-info';
@import 'partials/tabs';
@import 'components/breadcrum';
@import 'components/navbar';
@import 'components/text-fields';
@import 'components/forms';
@import 'components/table';
@import 'components/sidebar';
@import 'components/all-buttons';
@import 'components/colors';
@import 'components/typography';
@import 'partials/variables';

*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

body{
     font-size: 14px;
     font-family: "Inter", sans-serif;
     background-color: #f5f7fa;
}

h1, h2, h3, h4, h5, h6, p{
     margin-bottom: 0px;
}
.main-content{
     width: calc(100% - 250px);
     margin-left: 250px;
     margin-top: 68px;
     @media (max-width: 991px) {
          width: 100%;
          margin-left: 0;
      }
     .section-header{
          h1{
               font-size: 1.5rem;
               padding: 0.4rem 0;
               @media (max-width: 576px) {
                    font-size: 1.2rem;
               }
          }
     }
     .section-body{
          padding: 2.5rem;
          @media (max-width: 576px) {
               padding: 0.5rem;
          }
     }
}

.main-footer{
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px 40px;
    border-top: 1px solid #eee;
    background: #eee;
    margin-top: 20vh;
    @media (max-width: 991px) {
     width: 100%;
     margin-left: 0;
    }
}

.add_remove{
     position: relative;
     .remove{
          position: absolute;
          right: -10px;
          top: 10px;
          border-radius: 14px;
          padding: 0.1rem 0.5rem !important;
          color: #fff;
     }
}
.upload_wrapper{
     label{  
      cursor: pointer; 
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233333334A' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
     }
     .fa{
          color: #6722c8;
          font-size: 30px;
          padding: 0 15px;
     }
}
.preview_wrapper{
     img{
          width: 100px;
          height: 100px;
          padding-right: 10px;
          margin-top: .5rem;
          cursor: pointer;

     }
     .delete_wrapper{
     position: relative;
     }
     
     // .overlay_preview::before{
     //      position: absolute;
     //      top: 0;
     //      content: "x";
     //      color: #fff;
     //      background: #FF0000;
     //      padding: 0 5px;
     //      border-radius: 5px;
     // }
    
}

.delete_wrapper:hover + .overlay_preview{
     display: none;
}

.preview_image_wrapper {
     position: relative;
     .preview_image_delete{
          position: absolute;
          right: 11px;
          top: -9px;
          .delete_button{
               padding: 2px 10px;
               color: #fff;
               text-decoration: none;
               border-radius: 10px;
          }
     }
     img{
          border: 1px dotted #eee;
     }
}
.wrapper_upload_img{
     float: left;
}
.delete_button_properties{
     padding: 1.4px 12.5px;
     color: #fff;
     text-decoration: none;
     border-radius: 10px;
     width: auto;
     position: absolute;
     right: 2px;
     top: 8px;
}


.btn-back {
     color: rgba(25, 30, 59, 0.9);
     text-decoration: none;
   }
   
   .btn-back:hover {
     color: rgba(25, 30, 59, 0.9);
     text-decoration: none;
   }
   
   .shadow-right {
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
   }
   
   .h-100vh {
     height: 100vh;
   }
   
   .px-100 {
     padding-left: 100px;
     padding-right: 100px;
   }
   
   .py-46 {
     padding-top: 46px;
     padding-bottom: 46px;
   }
   
   .sign-up-btn {
     color: #005AAD;
     position: absolute;
     bottom: 46px;
     right: 56px;
     text-decoration: underline;
   }
   
   .pt-40 {
     padding-top: 40px;
   }
   
   .pt-100 {
     padding-top: 100px;
   }
   
   .tab {
     display: none;
   }

   .youtube {
     display: block;
     margin: 20px auto;
     width: 100%;
     height: 450px;
   }