{% if not request.session.name %}
    {% url 'onboard' as dashboard_url %}
    <script type="text/javascript">
        alert('Please configure your wallet')
        window.location.href = "{{ dashboard_url }}";
    </script>
{% endif %}
{% load static %}
<!DOCTYPE html>
<html class="h-full" data-theme="true" data-theme-mode="light" lang="en">
 <head><base href="../../">
  <title>
   Declaration
  </title>
  <meta charset="utf-8"/>
  <meta content="follow, index" name="robots"/>
  <link href="https://keenthemes.com/metronic" rel="canonical"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="@keenthemes" name="twitter:site"/>
  <meta content="@keenthemes" name="twitter:creator"/>
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="Metronic - Tailwind CSS " name="twitter:title"/>
  <meta content="" name="twitter:description"/>
  <meta content="assets/media/app/og-image.png" name="twitter:image"/>
  <meta content="https://keenthemes.com/metronic" property="og:url"/>
  <meta content="en_US" property="og:locale"/>
  <meta content="website" property="og:type"/>
  <meta content="@keenthemes" property="og:site_name"/>
  <meta content="Metronic - Tailwind CSS " property="og:title"/>
  <meta content="" property="og:description"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <meta content="{% static 'assets/media/app/og-image.png' %}" property="og:image"/>
  <link href="{% static 'assets/media/app/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{% static 'assets/media/app/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{% static 'assets/media/app/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png"/>
  <link href="{% static 'assets/media/app/favicon.ico' %}" rel="shortcut icon"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
  <link href="{% static 'assets/vendors/apexcharts/apexcharts.css' %}" rel="stylesheet"/>
  <link href="{% static 'assets/vendors/keenicons/styles.bundle.css' %}" rel="stylesheet"/>
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/>
 </head>
 <body class="antialiased flex h-full text-base text-gray-700 [--tw-page-bg:#fefefe] [--tw-page-bg-dark:var(--tw-coal-500)] demo1 sidebar-fixed header-fixed bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark]">
    <!-- Theme Mode -->
    <script>
      const defaultThemeMode = 'light'; // light|dark|system
       let themeMode;
   
       if ( document.documentElement ) {
         if ( localStorage.getItem('theme')) {
             themeMode = localStorage.getItem('theme');
         } else if ( document.documentElement.hasAttribute('data-theme-mode')) {
           themeMode = document.documentElement.getAttribute('data-theme-mode');
         } else {
           themeMode = defaultThemeMode;
         }
   
         if (themeMode === 'system') {
           themeMode = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
         }
   
         document.documentElement.classList.add(themeMode);
       }
     </script>
     <!-- End of Theme Mode -->
  <!-- Page -->
  <!-- Main -->
  <div class="flex grow">

    {% include 'includes/sidebar.html' %}

    <!-- Wrapper -->
   <div class="wrapper flex grow flex-col">
    {% include 'includes/header.html' %}

    {% block content %}
    {% endblock content %}

   </div>

   <!-- End of Wrapper -->
  </div>
  <!-- End of Main -->
  <!-- Scripts -->
  <script src="{% static 'assets/js/core.bundle.js' %}">
  </script>
  <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}">
  </script>
  <script src="{% static 'assets/js/widgets/general.js' %}">
  </script>
  <script src="{% static 'assets/js/layouts/demo1.js' %}">
  </script>
  <script>
    new DataTable('#datafilertable');
   </script>
   <script>
     document.addEventListener("DOMContentLoaded", function () {
         document.querySelectorAll('.alert').forEach(function (element) {
             setTimeout(function () {
                 element.classList.add('hidden');
             }, 3000); // 3000 milliseconds = 3 seconds
         });
 
         document.querySelectorAll('.sidebar .nav-link').forEach(function (element) {
             element.addEventListener('click', function (e) {
                 let nextEl = element.nextElementSibling;
                 let parentEl = element.parentElement;
 
                 if (nextEl && nextEl.classList.contains('submenu')) {
                     e.preventDefault(); // Prevent the default link behavior
 
                     let mycollapse = new bootstrap.Collapse(nextEl);
 
                     // Check if the submenu is already shown
                     if (nextEl.classList.contains('show')) {
                         mycollapse.hide(); // Hide the submenu
                         element.classList.remove('active'); // Remove 'active' class from the link
                         element.querySelector('.toggle-icon').classList.remove('text-primary'); // Remove 'text-primary' class from the toggle icon
                     } else {
                         // Find any currently opened submenu
                         let openedSubmenu = parentEl.parentElement.querySelector('.submenu.show');
 
                         // If there's an opened submenu that is not the current one, close it
                         if (openedSubmenu && openedSubmenu !== nextEl) {
                             new bootstrap.Collapse(openedSubmenu); // Create a Collapse object for the opened submenu
                             openedSubmenu.parentElement.querySelector('.nav-link .toggle-icon').classList.remove('text-primary'); // Remove 'text-primary' class from the toggle icon of the parent link
                             openedSubmenu.parentElement.querySelector('.nav-link').classList.remove('active'); // Remove 'active' class from the parent link
                         }
 
                         // Show the clicked submenu
                         mycollapse.show(); // Show the submenu
                         element.classList.add('active'); // Add 'active' class to the link
                         element.querySelector('.toggle-icon').classList.add('text-primary'); // Add 'text-primary' class to the toggle icon
                     }
                 }
             });
         });
     });
   </script>
  <!-- End of Scripts -->
 </body>
</html>