{% extends "base.html" %} {% load static %} {% block content %}

<!-- Content -->
<main class="grow content pt-7" id="content" role="content">
  <!-- Toolbar -->
  <div class="pb-7">
    <!-- Container -->
    <div
      class="container-fixed flex items-center justify-between flex-wrap gap-3"
    >
      <div class="flex flex-col flex-wrap gap-1">
        <h1 class="font-medium text-lg text-gray-900">Declaration details</h1>
        <div class="flex items-center gap-1 text-sm font-normal">
          <a class="text-gray-700 hover:text-primary" href="#"> Home </a>
          <span class="text-gray-400 text-sm"> / </span>
          <span class="text-gray-900"> Declaration details </span>
        </div>
      </div>
    </div>
    <!-- End of Container -->
  </div>
  <!-- End of Toolbar -->
  <style>
    .hero-bg {
      background-image: url("assets/media/images/2600x1200/bg-1.png");
    }
    .dark .hero-bg {
      background-image: url("assets/media/images/2600x1200/bg-1-dark.png");
    }
  </style>

  <!-- Container -->
  <div class="container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
      <div class="card card-grid min-w-full mb-10">
        <div class="card-header flex-wrap gap-2 justify-between">
          <div class="menu gap-3 border-b-2" data-menu="true">
            <div
              class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary active"
            >
              <a class="menu-link gap-1.5 px-2" href="/details/" tabindex="0">
                <span
                  class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary"
                >
                  Details
                </span>
              </a>
            </div>
            <div
              class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary"
            >
              <a class="menu-link gap-1.5 px-2" href="/items/" tabindex="0">
                <span
                  class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary"
                >
                  Items
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div
            data-datatable="true"
            data-datatable-page-size="20"
            class="datatable-initialized"
          >
            <div class="scrollable-x-auto">
              <table
                class="table align-middle text-sm text-gray-500 norow-border"
                id="general_info_table"
                data-datatable-table="true"
              >
                <div
                  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  data-datatable-spinner="true"
                  style="display: none"
                >
                  <div
                    class="flex items-center gap-2 px-4 py-2 font-medium leading-none text-2sm border border-gray-200 shadow-default rounded-md text-gray-500 bg-light"
                  >
                    <svg
                      class="animate-spin -ml-1 h-5 w-5 text-gray-600"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <circle
                        class="opacity-25"
                        cx="12"
                        cy="12"
                        r="10"
                        stroke="currentColor"
                        stroke-width="3"
                      ></circle>
                      <path
                        class="opacity-75"
                        fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                      ></path>
                    </svg>
                    Loading...
                  </div>
                </div>
                <tbody>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Declaration Date :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.declaration_date|date:'Y-m-d' }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Request No :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.request_no }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Declaration No. :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.declaration_no }}
                    </td>
                  </tr>

                  <tr>
                    <td class="text-gray-600 font-normal">Status :</td>
                    <td class="text-gray-800 font-normal">
                      <span
                        class="badge badge-sm badge-outline badge-released min-w-20"
                      >
                        Released
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                      Net weight :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.net_weight }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                      Gross weight :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">{{ declaration_data.gross_weight }}</td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                      Measurements :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">{{ declaration_data.measurements }}</td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                      Number of packages :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.nmbr_of_packages }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                      Cargo type :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.cargo_types }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Declaration type :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.declaration_types }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Cargo Channel :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.cargo_channel }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Transaction Type :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.transaction_type }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Trade Type :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.trade_type }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal">
                        Regime Type :
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                        {{ declaration_data.regime_type }}
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal flex">
                      Comment
                    </td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                      <textarea
                        class="text-gray-600 bg-gray-100 border p-3 w-full"
                        placeholder="Write your comment here..."
                        id=""
                        name=""
                        rows="8"
                      ></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td class="min-w-56 text-gray-600 font-normal"></td>
                    <td class="min-w-48 w-full text-gray-800 font-normal">
                      <div class="flex justify-end py-10">
                        <button
                          class="btn btn-primary min-w-32 flex justify-center"
                        >
                          Release
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Tracking details section -->
        <div class="tracking-details-wrap p-5 mt-5">
          <div class="text-left mb-10">
            <h3 class="text-gray-900 text-lg font-semibold leading-5 mb-1.5">
              Tracking Details
            </h3>
            <span class="text-gray-700 text-sm block mb-5">
              All the details related to tracking
            </span>
          </div>

          <div
            class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7.5 mb-8 wrap-track-card"
          >
            <div class="card tracking-card shadow-lg p-4">
              <div class="flex flex-wrap justify-between items-center">
                <div class="flex items-center">
                  <div class="flex flex-col">
                    <div class="text-base font-medium text-gray-900">
                      20220412123
                    </div>
                  </div>
                </div>

                <div class="flex flex-wrap items-center">
                  <div class="flex flex-col items-center">
                    <span class="text-gray-900 text-xs"> September </span>
                    <div class="text-primary font-bold text-base">02</div>
                    <div class="text-gray-900 text-xs">2024</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card tracking-card shadow-lg p-4">
              <div class="flex flex-wrap justify-between items-center">
                <div class="flex items-center">
                  <div class="flex flex-col">
                    <div class="text-base font-medium text-gray-900">
                      20220412123
                    </div>
                  </div>
                </div>

                <div class="flex flex-wrap items-center">
                  <div class="flex flex-col items-center">
                    <span class="text-gray-900 text-xs"> September </span>
                    <div class="text-primary font-bold text-base">02</div>
                    <div class="text-gray-900 text-xs">2024</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card tracking-card shadow-lg p-4">
              <div class="flex flex-wrap justify-between items-center">
                <div class="flex items-center">
                  <div class="flex flex-col">
                    <div class="text-base font-medium text-gray-900">
                      20220412123
                    </div>
                  </div>
                </div>

                <div class="flex flex-wrap items-center">
                  <div class="flex flex-col items-center">
                    <span class="text-gray-900 text-xs"> September </span>
                    <div class="text-primary font-bold text-base">02</div>
                    <div class="text-gray-900 text-xs">2024</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Container -->
</main>
<!-- End of Content -->

{% endblock content %}
