<!DOCTYPE html>
<html>
<head>
    <title>Create Declaration</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <style>
        .container {
            max-width: 800px;
            margin-top: 50px;
        }
        .form-control {
            margin-bottom: 15px;
        }
        .card {
            margin-bottom: 20px;
        }
        .card-header h4 {
            margin: 0;
        }
        .hidden {
            display: none;
        }
        .delete-row {
            display: none;
        }
        .error-message {
            color: red;
            font-size: 0.9em;
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Create Declaration</h1>
        <div class="card">
            <div class="card-header">
                <h4>Declaration Details</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_declaration_date">Declaration Date:</label>
                                {{ form.declaration_date }}
                                {{ form.declaration_date.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_request_no">Request No:</label>
                                {{ form.request_no }}
                                {{ form.request_no.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_declaration_no">Declaration No:</label>
                                {{ form.declaration_no }}
                                {{ form.declaration_no.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_net_weight">Net Weight:</label>
                                {{ form.net_weight }}
                                {{ form.net_weight.errors }}
                                <span class="error-message">Please enter a valid number.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_gross_weight">Gross Weight:</label>
                                {{ form.gross_weight }}
                                {{ form.gross_weight.errors }}
                                <span class="error-message">Please enter a valid number.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_measurements">Measurements:</label>
                                {{ form.measurements }}
                                {{ form.measurements.errors }}
                                <span class="error-message">Please enter a valid number.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_nmbr_of_packages">Number of Packages:</label>
                                {{ form.nmbr_of_packages }}
                                {{ form.nmbr_of_packages.errors }}
                                <span class="error-message">Please enter a valid number.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_cargo_type">Cargo Type:</label>
                                {{ form.cargo_type }}
                                {{ form.cargo_type.errors }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_declaration_type">Declaration Type:</label>
                                {{ form.declaration_type }}
                                {{ form.declaration_type.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_cargo_channel">Cargo Channel:</label>
                                {{ form.cargo_channel }}
                                {{ form.cargo_channel.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_transaction_type">Transaction Type:</label>
                                {{ form.transaction_type }}
                                {{ form.transaction_type.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_trade_type">Trade Type:</label>
                                {{ form.trade_type }}
                                {{ form.trade_type.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_regime_type">Regime Type:</label>
                                {{ form.regime_type }}
                                {{ form.regime_type.errors }}
                            </div>
                        </div>
                    </div>

                    <h2>Items</h2>
                    <div class="table-responsive">
                        <table id="item-table" class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>HsCode</th>
                                    <th>Documents</th>
                                    <th>Static Quantity Unit</th>
                                    <th>Supplementary Quantity Unit</th>
                                    <th>Unit Weight</th>
                                    <th>Goods Value</th>
                                    <th>CIF Value</th>
                                    <th>Duty Fee</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ item_formset.management_form }}
                                {% for form in item_formset %}
                                {% if form.instance.is_deleted == False %}
                                    <tr>
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {% for field in form.visible_fields %}
                                        {% if field.name != 'DELETE' %} 
                                            <td>
                                                {{ field.errors }}
                                                {{ field }}
                                                {% if field.name == 'goods_description' %}
                                                <button type="button" class="btn btn-primary" id="search-hscode">Search</button>
                                                {% endif %}
                                                {% if field.name == 'hs_code' %}
                                                <td class="documents">
                                                    
                                                </td>
                                                {% endif %}


                                                <span class="error-message">Please enter a valid number.</span>
                                            </td>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <td>
                                            <input type="checkbox" name="{{ form.prefix }}-DELETE" class="delete-row">
                                            {% if form.instance.pk %}
                                                <a href="" class=" delete-btn btn btn-danger btn-sm">Delete</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="button" id="add-row" class=" btn btn-primary">Add Item</button>
                        <div class="form-group mb-0 text-right">
                            <button type="submit" class="btn btn-primary mr-1"style="float: right;">Save</button>
                        </div>
                    </div>
                    <div class="form-group mt-5 text-left">
                        <a href="{% url 'view_declaration' %}"  role="button"> <- Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var addButton = document.getElementById('add-row');
            var tableBody = document.getElementById('item-table').getElementsByTagName('tbody')[0];
            var formCountInput = document.getElementsByName('items_set-TOTAL_FORMS')[0];
            var currentFormCount = parseInt(formCountInput.value);
            var originalDescriptions = {};
            var requiredDocsData = {};


          function fetchAndDisplayDocuments(row, hsCode,item) {
            var documentField = row.querySelector('.documents');
            if (documentField) {
            fetch(`/get-required-docs/?hs_code=${hsCode}`)
                .then(response => response.json())
                .then(data => {
                    documentField.innerHTML = '';
                    requiredDocsData[hsCode] = data.required_docs;
                    data.required_docs.forEach(function(doc) {
                        var fileInput = document.createElement('input');
                        fileInput.type = 'file';
                        fileInput.name = `documents_${doc.id}_${item}`;
                        fileInput.classList.add('required-file');

                        var label = document.createElement('label');
                        label.textContent = `${doc.name} (${doc.format})`;

                        documentField.appendChild(label);
                        documentField.appendChild(fileInput);

                        // Fetch document data and add to input field
                        fetch(`/get-document-data/?doc_id=${doc.id}&hs_code=${hsCode}&item_id=${item}`)
                        .then(response => {
                            const contentDisposition = response.headers.get('Content-Disposition');
                            console.log("contentDisposition",contentDisposition.filename)
                            const match = contentDisposition && contentDisposition.match(/filename="([^"]+)"/);
                            const fileName = match ? match[1] : 'file'; // Default to 'file' if no match found
                            return response.blob().then(blob => ({ blob, fileName }));
                        })
                        .then(({ blob, fileName }) => {
                            var file = new File([blob], fileName, { type: blob.type });
                            var dataTransfer = new DataTransfer();
                            dataTransfer.items.add(file);
                            fileInput.files = dataTransfer.files;
                        })
                        .catch(error => console.error('Error fetching document:', error));
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    }
    
            tableBody.addEventListener('click', function(e) {
                if (e.target.id === `id_items_set-${currentFormCount - 1}-hs_code`) {
                    var row = e.target.closest('tr');
                    var descriptionField = row.querySelector('textarea');
                    var hsCodeDropdown = row.querySelector('select[name*="hs_code"]');
                    descriptionField.dataset.originalValue = descriptionField.value;
    
                    hsCodeDropdown.addEventListener('click', function() {
                        originalDescriptions[descriptionField.name] = descriptionField.value;
                    });
    
                    hsCodeDropdown.addEventListener('change', function() {
                        originalDescriptions[descriptionField.name] = descriptionField.value;
                    });
                }
            });
    
            // Search functionality
            tableBody.addEventListener('click', function(e) {
                if (e.target.id === 'search-hscode') {
                    var row = e.target.closest('tr');
                    var descriptionField = row.querySelector('textarea');
                    var descriptionData = descriptionField.value;
                    var hsCodeDropdown = row.querySelector('select[name*="hs_code"]');
    
                    fetch('/search-hscode/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ description: descriptionData })
                    })
                    .then(response => response.json())
                    .then(data => {
                        hsCodeDropdown.innerHTML = '';

                        // Add the "Select your HS code" option
                        var placeholderOption = document.createElement('option');
                        placeholderOption.value = '';
                        placeholderOption.textContent = 'Select your HS code';
                        hsCodeDropdown.appendChild(placeholderOption);
                        
                        data.hs_codes.forEach(function(hsCode) {
                            var option = document.createElement('option');
                            option.value = hsCode.id;
                            option.textContent = `${hsCode.hs_code} - ${hsCode.description}`;
                            hsCodeDropdown.appendChild(option);
                        });
                        descriptionField.dataset.originalValue = descriptionField.value;
    
                        hsCodeDropdown.addEventListener('click', function() {
                            originalDescriptions[descriptionField.name] = descriptionField.value;
                        });
    
                        hsCodeDropdown.addEventListener('change', function() {
                            originalDescriptions[descriptionField.name] = descriptionField.value;
                        });
                        hsCodeDropdown.addEventListener('change', function() {
                            var hsCode = hsCodeDropdown.value;
                            var item = row.querySelector('input[name$="-id"]').value;
                            fetchAndDisplayDocuments(row, hsCode, item);
                        });
                    })
                    .catch(error => console.error('Error:', error));
                }
            });
    
            addButton.addEventListener('click', function() {
                var newForm = tableBody.rows[0].cloneNode(true);
                var regex = new RegExp(`items_set-\\d+-`, 'g');
    
                newForm.innerHTML = newForm.innerHTML.replace(regex, `items_set-${currentFormCount}-`);
    
                tableBody.appendChild(newForm);
                currentFormCount++;
                formCountInput.value = currentFormCount;
    
                var inputs = newForm.querySelectorAll('input, textarea');
                inputs.forEach(function(input) {
                    if (input.type === 'hidden') {
                        input.value = '';
                    } else {
                        input.value = '';
                    }
                });
            });
    
            tableBody.addEventListener('click', function(e) {
                if (e.target.classList.contains('delete-btn')) {
                    e.preventDefault();
                    var row = e.target.closest('tr');
                    var deleteCheckbox = row.querySelector('input[type="checkbox"].delete-row');
                    deleteCheckbox.checked = true;
                    row.style.display = 'none';
                    addButton.style.display = 'none';
    
                }
            });

                // Initialize documents for existing rows
            tableBody.querySelectorAll('tr').forEach(function(row) {
                var hsCodeField = row.querySelector('select[name$="-hs_code"]');
                var itemField = row.querySelector('input[name$="-id"]')
                if (hsCodeField && hsCodeField.value) {
                    fetchAndDisplayDocuments(row, hsCodeField.value,itemField.value);
                }
            });
    
            // Custom validation for numeric fields
            var numericFields = document.querySelectorAll('input[type="number"]');
            numericFields.forEach(function(field) {
                field.addEventListener('input', function() {
                    if (!field.checkValidity()) {
                        field.nextElementSibling.style.display = 'inline';
                    } else {
                        field.nextElementSibling.style.display = 'none';
                    }
                });
            });
    
            // Form submission validation
            document.querySelector('form').addEventListener('submit', function(e) {
                var isValid = true;
                for (var key in originalDescriptions) {
                    var descriptionField = document.querySelector(`[name="${key}"]`);
                    if (descriptionField.value !== originalDescriptions[key]) {
                        isValid = false;
                        break;
                    }
                }

                  // Check for required file inputs
            var requiredFiles = document.querySelectorAll('.required-file');
            requiredFiles.forEach(function(input) {
                if (!input.files.length) {
                    e.preventDefault();
                alert(' you must upload all required files.');
                }
            });

              
            for (let hsCode in requiredDocsData) {
            requiredDocsData[hsCode].forEach(function(doc) {
                var fileInput = document.querySelector(`input[name="documents_${doc.id}"]`);
                if (fileInput && fileInput.files.length > 0) {
                    var file = fileInput.files[0];
                    var ext = file.name.split('.').pop().toLowerCase();
                    if (!doc.format.split(',').includes(ext)) {
                        e.preventDefault();
                        alert(`Invalid file format for ${doc.name}: ${ext}`);
                        fileInput.value = ''; 
                    }
                }
            });
        }
    
                if (!isValid) {
                    e.preventDefault();
                    alert('You cannot change the description after selecting an HS code.');
                }
            });
        });
    </script>

    
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>