{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section">
    <!-- <div class="section-header bg-white">
        <h1>Dashboard</h1>
    </div> -->
    <div class="section-header bg-white">
        <div class="d-flex justify-content-between align-items-center py-3 px-3 px-md-5">
            <div>
                <h1>Dashboard</h1>
            </div>         
        </div>
    </div>
    <div class="section-body">

        <!-- all table component -->

        <div class="table-container">
            <div class="d-flex justify-content-between align-items-center bg-white mt-1">
                <div class="font-20">Declarations</div>
                <div>
                    <a href="{% url 'create_declaration' %}" class="btn navbar-card-button text-white">Create
                        Declaration</a>
                </div>
            </div>
            <!-- default table -->
             
            <div class="default-table table-responsive py-2">
                
                <table id="datafilertable" class="table table-hover table-striped">
                    <thead class="default-table-head border">
                        <tr>
                            <th scope="col" class="font-15 ps-4">S no</th>
                            <!-- <th scope="col" class="font-15 ps-4">Declaration Date</th> -->
                            <!-- <th scope="col" class="font-15 ps-4">Request No</th> -->
                            <th scope="col" class="font-15 ps-4">Declaration No</th>
                            <!-- <th scope="col" class="font-15 ps-4">Net Weight</th>
                            <th scope="col" class="font-15 ps-4">Gross Weight</th>
                            <th scope="col" class="font-15 ps-4">Measurements</th>
                            <th scope="col" class="font-15 ps-4">Number of Packages</th>
                            <th scope="col" class="font-15 ps-4">Cargo Type</th>
                            <th scope="col" class="font-15 ps-4">Declaration Type</th>
                            <th scope="col" class="font-15 ps-4">Cargo Channel</th>
                            <th scope="col" class="font-15 ps-4">Transaction Type</th>
                            <th scope="col" class="font-15 ps-4">Trade Type</th>
                            <th scope="col" class="font-15 ps-4">Regime Type</th> -->
                            <th scope="col" class="font-15 ps-4">Status</th>
                            <th scope="col" class="font-15 ps-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for declaration in declarations %}
                        {% if not declaration.is_deleted %}
                        <tr>
                            <td class="table-data">
                                <p class="font-15">{{ forloop.counter0|add:declarations.start_index }}</p>
                            </td>
                            <!-- <td class="table-data">
                                <p class="font-15">{{ declaration.declaration_date }}</p>
                            </td> -->
                            <!-- <td class="table-data">
                                <p class="font-15">{{ declaration.request_no }}</p>
                            </td> -->
                            <td class="table-data">
                                <p class="font-15">{{ declaration.declaration_no }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15">
                                    {% if declaration.is_verified == 1 %}
                                        Approved
                                    {% elif declaration.is_verified == 0 %}
                                        On-Hold
                                    {% elif declaration.is_verified == -1 %}
                                        Rejected
                                    {% elif declaration.is_verified == 2 %}
                                        Re-Submit
                                    {% elif declaration.is_verified == 3 %}
                                        Saved as Draft
                                    {% endif %}
                                </p>
                            </td>
                            <!-- <td class="table-data">
                                <p class="font-15 ps-4">{{ declaration.net_weight }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15 ps-4">{{ declaration.gross_weight }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15 ps-4">{{ declaration.measurements }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15 ps-4">{{ declaration.nmbr_of_packages }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15 ps-4">{{ declaration.cargo_type.name }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15">{{ declaration.declaration_type.name }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15">{{ declaration.cargo_channel.name }}</p>
                            </td>

                            <td class="table-data">
                                <p class="font-15">{{ declaration.transaction_type.name }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15">{{ declaration.trade_type.name }}</p>
                            </td>
                            <td class="table-data">
                                <p class="font-15">{{ declaration.regime_type.name }} </p>
                            </td> -->
                            <td class="table-data">
                                <div class="btn-group px-3">
                                    <a href="{% url 'view-logs' declaration.pk %}"
                                    class="btn btn-sm btn-primary update_button me-1">Logs</a>
                                    {% if declaration.is_verified != 0 and declaration.is_verified != 1 %}
                                    <a href="{% url 'update_declaration' declaration.pk %}"
                                        class="btn btn-sm btn-primary update_button me-1">Update</a>
                                        {% endif %}
                                    <a href="{% url 'list_declaration' declaration.pk %}"
                                        class="btn btn-sm btn-primary  update_button me-1">View</a>
                                    <!-- <a href="{% url 'delete_declaration' declaration.pk %}"
                                    id="delete-bttn" class="btn btn-sm btn-danger border-0 delete_button">Delete</a> -->
                                    <button class="btn btn-sm btn-danger delete_button" data-declaration-id="{{ declaration.pk }}">
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Paginations -->
            <div class="row text-center mt-3 d-flex justify-content-end">
                <!-- Page selector -->
                <div class="col-12 col-lg-3">
                    <div class="d-flex justify-content-end">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <!-- Previous Page Button -->
                                {% if declarations.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ declarations.previous_page_number }}" class="page-link d-flex justify-content-center align-items-center font-24">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                {% endif %}
                               <!-- Page Number Buttons -->
                                {% for num in declarations.paginator.page_range %}
                                {% if declarations.number == num %}
                                <li class="page-item active">
                                    <span class="page-link d-flex justify-content-center align-items-center">{{ num }}</span>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page={{ num }}" class="page-link d-flex justify-content-center align-items-center">{{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <!-- Next Page Button -->
                                {% if declarations.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ declarations.next_page_number }}" class="page-link d-flex justify-content-center align-items-center font-24 me-0">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>
</section>

<script>
        var messages = [];
        {% for message in messages %}
            messages.push({ tags: "{{ message.tags }}", message: "{{ message }}" });
        {% endfor %}
        messages.forEach(function(message) {
        if (message.message === 'Declaration updated successfully.') {
            Swal.fire({
                title: "Declaration Form Updated",
                text: "Your declaration form has been successfully updated",
                icon: "success",
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "ok",
                customClass: {
                    confirmButton: 'confirmbtn sweetsuccess',  
                }
            }).then(function() {
                window.location.reload(true);  
            });
        } else if (message.message === 'Declaration added successfully.') {
            Swal.fire({
                title: "Declaration Form Created",
                text: "Your declaration form has been successfully created",
                icon: "success",
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "ok",
                customClass: {
                    confirmButton: 'confirmbtn sweetsuccess',  
                }
            }).then(function() {
                console.log("haiinnnnnn")
                window.location.reload(true);  
            });
        }
    });
   </script>
<script>
    $(document).ready(function() {
        
        $('.delete_button').on('click', function(){
       
            var declarationId = $(this).data('declaration-id');
           
            var deleteUrl = '/delete/' + declarationId + '/';
            
            Swal.fire({
                title: "Delete form",
                icon: "error",
                text: "Are you sure you want to delete the form?",
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: "No",
                customClass: {
                confirmButton: 'confirmbtn sweetdanger',  // Add custom class for confirm button
                cancelButton: 'confirmbtn sweetsuccess'     // Add custom class for cancel button
      }
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: deleteUrl,
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}', 
                             
                        },
                        success: function(response) {

                                location.reload();
                        },
                    });
                }
            });
        });
    });
</script>


{% endblock content %}