{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section">
    
    <div class="section-header bg-white">
        <div class="d-flex justify-content-between align-items-center py-3 px-3 px-md-5">
            <div>
                <h1>Declaration Log</h1>
            </div>
            
            <div class="d-flex align-items-center">
                <div class="">
                    <a href="{% url 'view_declaration' %}" class="nav-link text-center header_success_button" >
                        <span class=" d-xl-inline">Back</span>
                    </a>
                </div>
            </div>
                
        </div>
    </div>
    <div class="section-body">
        <div class="row gx-3">
            {% for log in logs %}
            <div class="col-12 col-lg-6 card-container">
                <div class="card mb-3 status-card">
                    <div class="card-header bg-white py-3">
                        <p class="card-text mb-1"><strong>Date : </strong>{{ log.created_at|date:"F j, Y, g:i a" }}</p>
                       
                    </div>
                    <div class="card-body">
                        <strong>Current Status : </strong>
                        {% if log.status == 0 %}
                        On Hold
                        {% endif %}

                        {% if log.status == 1 %}
                        Approved
                        {% endif %}

                        {% if log.status == -1 %}
                        Rejected
                        {% endif %}

                        {% if log.status == 2 %}
                        Resubmit for modification
                        {% endif %}
     
                        <p class="card-text mb-1"><strong>Comment : </strong>{{ log.comment }}</p>
                        {% if log.created_by == True %}
                        <p class="card-text mb-1"><strong>Update Done By: </strong>Verification Team</p>
                        {% endif %}

                        {% if log.created_by == False %}
                        <p class="card-text mb-1"><strong>Update Done By: </strong>{{ request.session.name }}</p>
                        {% endif %}


                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}