// scss or breadcrumb
.default-breadcrumb-card {
    border: none;
    background-color: rgba(245, 247, 250, 1);

    .breadcrumb-name {
         color: rgba(25, 30, 59, 0.7);
         text-decoration: none;
    }
}