.colors-container {
    padding: 53px 83px 117px 63px;

    // Primary color
    .primary-color {
        background: linear-gradient(to right,
                rgba(134, 80, 245, 1) 0%,
                rgba(160, 89, 233, 1) 50%,
                rgba(117, 169, 234, 1) 100%);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .primary-text {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 30, 59, 1);
        padding: 20px 262px 31px 42px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    // Secondary color
    .secondary-color {
        background: linear-gradient(91.37deg, rgba(104, 20, 199, 1) 1.57%, rgba(93, 126, 212, 1) 98.04%);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    // Error color
    .error-color {
        background: rgba(179, 38, 30, 1);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    // Primary container color
    .primary-container-color {
        background: rgba(245, 247, 250, 1);
        color: rgba(25, 30, 59, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .primary-container-text {
        background: rgba(25, 30, 59, 1);
        color: rgba(245, 247, 250, 1);
        padding: 20px 262px 31px 42px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    // Secondary container color
    .secondary-container-color {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 30, 59, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .secondary-container-text {
        background: rgba(25, 30, 59, 1);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    // Primary dark color
    .primary-dark-color {
        background: linear-gradient(to right,
        rgba(73, 46, 124, 1) 0%,
        rgba(77, 48, 108, 1) 50%,
        rgba(55, 78, 103, 1) 100%);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    // Secondary dark color
    .secondary-dark-color {
        background: linear-gradient(91.37deg, rgba(129, 45, 224, 1) 1.57%, rgba(128, 158, 237, 1)98.04%);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    // Error dark color
    .error-dark-color {
        background: rgba(242, 184, 181, 1);
        color: rgba(96, 20, 16, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .error-dark-text {
        background: rgba(96, 20, 16, 1);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    // Primary dark container color
    .primary-dark-container-color {
        background: rgba(8, 8, 8, 1);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    // Secondary dark container color
    .secondary-dark-container-color {
        background: rgba(19, 19, 19, 1);
        color: rgba(255, 255, 255, 1);
        padding: 20px 262px 31px 42px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}