// scss for sidebar
.sidebar_wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    z-index: 1;
    padding: 30px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);

    .finloge-logo{
      img{
        width: 170px;
        height: auto;
      }
    }

    .sidebar {
        li {
            .submenu {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-left: 4rem;
                padding-right: 2rem;
            }
            .nav-link{
                background: #eee;
                border-radius: 10px;
                &:hover{
                    background: black;
                    color: #fff;
                }
                &:hover img{
     -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
                }
            }
        }
    }

    .sidebar .submenu .nav-link.active {
        background-color: rgba(228, 243, 255, 1);
        border-radius: 8px;
    }

    .nav-link.active {
        color: black;
    }

    .nav-link {
        color: rgba(25, 30, 59, 1);
    }

    .toggle-icon {
        color: rgba(25, 30, 59, 1);
        float: right;
        margin-top: 3px;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .toggle-icon.active {
        color: black;
    }
}