// scss for text feilds
.input-feilds-container {
    background-color: white;
    border: 1px solid rgba(194, 194, 194, 0.5);
    padding: 53px 83px 158px 63px;
    border-radius: 20px;
    display: grid;
    row-gap: 97px;
    .heading {
         font-family: Ruberoid;
         font-size: 24px;
         font-weight: 500;
         line-height: 35.04px;
         letter-spacing: 0.02em;
         text-align: left;   
    }
    .default-search-input{
         padding: 13px 0px 13px 24px;
         border-radius: 9px;
    }
    .default-search-input:focus {
         box-shadow: none;
       }
}