{% block content %}
{% load static %}


<!-- Header -->
<header class="header shadow-sm active fixed top-0 z-10 left-0 right-0 flex items-stretch shrink-0 bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark]" data-sticky="true" data-sticky-class="shadow-sm" data-sticky-name="header" id="header">
  <!-- Container -->
  <div class="container-fixed flex justify-between lg:justify-end items-stretch lg:gap-4" id="header_container">
   <!-- Mobile Logo -->
   <div class="flex gap-1 lg:hidden items-center -ml-1">
    <a class="shrink-0" href="#">
     <img class="max-h-[25px] w-full" src="{% static 'assets/media/app/mini-logo.svg' %}"/>
    </a>
    <div class="flex items-center">
     <button class="btn btn-icon btn-light btn-clear btn-sm" data-drawer-toggle="#sidebar">
      <i class="ki-filled ki-menu">
      </i>
     </button>
    </div>
   </div>
   <!-- End of Mobile Logo -->
  
   <!-- Topbar -->
   <div class="flex items-center gap-2 lg:gap-3.5">
    <div class="menu" data-menu="true">
     <div class="menu-item" data-menu-item-offset="20px, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
      <div class="menu-toggle btn btn-icon rounded-full">
       <img alt="" class="size-9 rounded-full border-2 border-success shrink-0" src="{% static 'assets/media/avatars/300-2.png' %}">
       </img>
      </div>
      <div class="menu-dropdown menu-default light:border-gray-300 w-screen max-w-[250px]">
       <div class="flex items-center justify-between px-5 py-1.5 gap-1.5">
        <div class="flex items-center gap-2">
         <img alt="" class="size-9 rounded-full border-2 border-success" src="{% static 'assets/media/avatars/300-2.png' %}">
          <div class="flex flex-col gap-1.5">
           <span class="text-sm text-gray-800 font-semibold leading-none">
            {{ request.session.name }}
           </span>
          </div>
         </img>
        </div>
        <span class="badge badge-xs badge-primary badge-outline">
         Verified
        </span>
       </div>
       <div class="menu-separator">
       </div>
       <div class="flex flex-col">
        <div class="menu-item">
         <a class="menu-link" href="https://log-iam.finloge.com/">
          <span class="menu-icon">
           <i class="ki-filled ki-profile-circle">
           </i>
          </span>
          <span class="menu-title">
           My Profile
          </span>
         </a>
        </div>
       </div>
       <div class="menu-separator">
       </div>
       <div class="flex flex-col">
        <div class="menu-item mb-0.5">
         <div class="menu-link">
          <span class="menu-icon">
           <i class="ki-filled ki-moon">
           </i>
          </span>
          <span class="menu-title">
           Dark Mode
          </span>
          <label class="switch switch-sm">
           <input data-theme-state="dark" data-theme-toggle="true" name="check" type="checkbox" value="1">
           </input>
          </label>
         </div>
        </div>
        <div class="menu-item px-4 py-1.5">
          <a class="btn btn-sm btn-light justify-center" href="{% url 'delete_session' %}">
           Log out
          </a>
         </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- End of Topbar -->
  </div>
  <!-- End of Container -->
 </header>
 <!-- End of Header -->


{% endblock content %}





