// scss for card info
.card-info {
    font-family: Ruberoid;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.9px;
    letter-spacing: 0.02em;
    text-align: center;
    text-decoration: underline;
    color: rgba(25, 30, 59, 1);
}