// scss or Search Bar

.search-input-group{
.search-icon {
    background-color: rgba(240, 244, 250, 1);
    border: none;
    padding: 13px 0px 12px 32px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-input-placeholder {
    background-color: rgba(240, 244, 250, 1);
    border: none;
    padding: 13px 0px 12px 234px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-input-placeholder:focus {
    background-color: rgba(240, 244, 250, 1);
    border: none;
    padding: 13px 0px 12px 234px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: none;
    box-shadow: none;
}

.search-input-placeholder::placeholder {
    outline: none;
    border: none;
    box-shadow: none;
}
}