// Different shadows
.shadow-sm {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08);
}

.shadow-sm-md {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.shadow-large {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12);
}