// colors variables

$primary-color: #6818C7;
$secondary-color: #5E77D3;
$accent-color: #4355ba;
$text-color: #fff;
$text-color-dark: #000;
$disabled-color: rgba(25, 30, 59, 0.6);
$disabled-background: rgba(231, 231, 231, 1);